body {
    background-color: ghostwhite;
}

h3 {
    padding-left: 175px;
    padding-right: 175px;
    padding-top: 40px;
    padding-bottom: 50px;  
}

h1 {
    overflow: hidden;
    border-block-end-style: .15em;
    border-radius: 15px;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
    typing 4s,
    blink-caret .75s step-end infinite;
    }
    
    @keyframes typing {
    from {width: 0}
    to {width: 100%}
    }

    h1 {
    padding-left: 75px;
    padding-top: 75px;
    color: indigo;
    background-color: pink; 
    font-size: 50px;   
    }

    img {
        padding-top: 110px;
        padding-left: 600px;
        display: flex;
        flex-direction: row;
        align-self: flex-end;
    }
    
    button {
        color:indigo;
        background-color: lavender;
        border-radius:50%;
    }


h3 p {
    font-family: 'Lato', sans-serif;
    text-align: left;
    text-size-adjust: flex;
    font-weight: 400;
    padding-left:70px;
    padding-right:70px;
    line-height: 25px;
    text-indent: 50px;
}
h2 {
    font-family: 'Lato', sans-serif; 
    color: indigo;
    padding-left:635px;
    padding-top:50px;
}

.resume a {
    font-family: 'Lato', sans-serif; 
    padding-left:500px;
}

footer{
    grid-area:footer;
  }
  footer li {
    display:inline;
  }
  
  footer p{
    font-size: 0.8em;
    color: indigo;
    padding-left: 645px;
  }
  svg {
    width: 3%;
    color: indigo;
    padding-left:650px;
    padding-top:50px;
  }