body{
    background-color: ghostwhite;
}

li{
font-family: 'Lora', serif;  
font-weight: 800;
padding: 47px;
display: inline;
}

a:link {
    text-decoration: none;
    color: darkgrey;
  }
  
  a:visited {
    text-decoration: none;
    color:darkgrey;
  }
  
  a:hover {
    text-decoration: underline;
    color: indigo
  }
  
  a:active {
    text-decoration: underline;
  }

h1{
    font-family: 'Lora', serif;
    padding-left: 80px;
    font-size: 50px;
    color: indigo;
    padding-bottom: 30px;
    padding-top: 20px;
    
}

h1 {
overflow: hidden;
border-block-end-style: .15em mediumpurple;
white-space: nowrap;
margin: 0 auto;
letter-spacing: .15em;
animation:
typing 8s,
blink-caret .75s step-end infinite;
}

@keyframes typing {
from {width: 0}
to {width: 100%}
}


nav{
font-size: 30px;
background-color: lavender;

}
